---
import { CldUploadWidget, CldImage } from "astro-cloudinary";
import Navbar from "../components/Navbar.astro";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const images = await getCollection("images");
---

<Layout title="Cloudinary Halloween Hackathon">
  <Navbar />
  <main class="container m-auto p-4 bg-halloween-black text-halloween-orange h-screen">
    <h1 class="text-5xl font-spooky text-center mb-8">
      🎃 Cloudinary Halloween Hackathon 👻
    </h1>
    <CldUploadWidget
      id="upload-widget"
      class="flex justify-center items-center"
      uploadPreset="unsigned-images"
      options={{
        sources: ["local"],
        multiple: false,
        maxFiles: 1,
        styles: {
          palette: {
            window: "#000",
            windowBorder: "#ffffff",
            tabIcon: "#FF6600",
            menuIcons: "#ffffff",
            textDark: "#ffffff",
            textLight: "#ffffff",
            link: "#FF6600",
            action: "#ffcc00",
            inactiveTabIcon: "#ffcc00",
            error: "#ffcc00",
            inProgress: "#ffcc00",
            complete: "#ffcc00",
            sourceBg: "#660066",
          },
          fonts: {
            default: null,
            "'Creepster', cursive": {
              url: "https://fonts.googleapis.com/css2?family=Creepster&display=swap",
              active: true,
            },
          },
        },
      }}
    >
      <button
        class="bg-halloween-purple text-slate-100 px-4 py-2 rounded-md hover:bg-halloween-orange"
        >Upload 🎃</button
      >
    </CldUploadWidget>

    <ul class="flex flex-wrap justify-center gap-4 mt-10">
      {
        images.map((image) => (
          <li>
            <a href={`/image?id=${image.data.public_id}}`}>
              <CldImage
                src={image.data.public_id}
                class="rounded-lg mt-10"
                width={200}
                height={200}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<script>
  import { navigate } from "astro:transitions/client";

  const widget = document.getElementById("upload-widget");

  if (widget) {
    widget.addEventListener("clduploadwidget:success", ((
      e: CustomEvent<{ info: { public_id: string } }>
    ) => {
      const publicId = e.detail.info.public_id;
      navigate(`/image?id=${publicId}`);
    }) as EventListener);
	} else {
	console.error("Upload widget not found");
	}
</script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
</style>
